$dark-blueviolet: #0d2087;
$light-blueViolet: #061e9a;
$orange-yellow : #fcc800;

$yellow: #FECE00;		
$blue: #1080B9;	
$light-Grey	:#DBE2E2;	
$Green:#53900F;		
$Pink:#9B1750;		
$Black:#000000;	
$Footer-Left:#5D001D;		
$Footer-Right:#84082F;		
$Light-blue :#3AAFA9;	
$white : #ffffff;

// fonts
$font-Barlow : "Barlow";
$font-Libre-Caslon: "Libre Caslon";
$font-PT-Sans: "PT Sans";